* {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

/* variables */
:root {
  --h1FontSize: 4rem;
  --h2FontSize: 3rem;
  --SubHeading: 2rem;
  --Color1: #8dc63f;
  --Color2: #0d6db7;
  --Color3: White;
  --Color4: black;
}

body {
  background: linear-gradient(to bottom, #0d6db7, #8dc63f, white);
}

.intro {
  width: 100%;
  margin-top: 5%;
}

.intro h1:hover {
  color: var(--Color4);
}

.intro h2:hover {
  color: var(--Color3);
}

.intro > h1 {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: var(--h1FontSize);
  padding: 4% 0;
  color: var(--Color3);
  transition: 2s;
}
.intro > h2 {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: var(--h2FontSize);
  color: var(--Color4);
  transition: 2s;
}

.orange:hover {
  color: #ff5722;
}
.blue:hover {
  color: #004ce8;
}
.yellow:hover {
  color: #ffda3d;
}

.html-heading {
  width: 100%;
  /* background-color: powderblue; */
  margin-top: 5%;
}

.html-heading > h1 {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: var(--h1FontSize);
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}

.container {
  padding: 10px 50px;
  position: relative;
  /* background-color: #0d6db7; */
  width: 50%;
  animation: moveDown 1s linear forwards;
  opacity: 0;
}

@keyframes moveDown {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.container:nth-child(1) {
  animation-delay: 0s;
}

.text-box {
  padding: 20px 30px;
  position: relative;
  background-color: var(--Color2);
  border: 2px solid var(--Color3);
  border-radius: 5px;
  font-size: 15px;
}

.text-box:hover {
  background-color: var(--Color4);
  border-color: transparent;
  box-shadow: 0 0 15px #ff5722;
  transition: 2s;
}

.text-box2:hover {
  background-color: var(--Color4);
  border-color: transparent;
  box-shadow: 0 0 15px #004ce8;
  transition: 2s;
}

.text-box3:hover {
  background-color: var(--Color4);
  border-color: transparent;
  box-shadow: 0 0 15px #ffda3d;
  transition: 2s;
}

.orange:hover {
  color: #ff5722;
}

.left-container {
  left: 0;
}

.right-container {
  left: 50%;
}

.container img {
  position: absolute;
  width: 40px;
  border-radius: 50%;
  right: -20px;
  z-index: 1;
  top: 32px;
}

.right-container img {
  left: -20px;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 49.8%;
  background: var(--Color4);
  animation: move 5s linear forwards;
  border: 1px solid var(--Color3);
}

@keyframes move {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

.text-box h2 {
  font-weight: 700;
  color: var(--Color3);
}

.text-box small {
  display: inline-block;
  margin-bottom: 15px;
  color: var(--Color3);
}

.text-box p {
  color: var(--Color3);
}

.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  border-bottom: 15px solid transparent;
  border-top: 15px solid transparent;
  border-left: 15px solid var(--Color4);
  right: -14px;
}

.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  border-bottom: 15px solid transparent;
  border-top: 15px solid transparent;
  border-right: 15px solid var(--Color4);
  left: -14px;
}

@media screen and (max-width: 600px) {
  .timeline {
    margin: 50px auto;
  }
  .timeline::after {
    left: 31px;
  }
  .container {
    width: 80%;
    padding-left: 80px;
    padding-right: 25px;
  }
  .text-box {
    font-size: 13px;
  }

  .text-box small {
    margin-bottom: 10px;
  }

  .right-container {
    left: 0;
  }
  .right-container img,
  .left-container img {
    left: 20px;
  }

  .right-container-arrow,
  .left-container-arrow {
    border-right: 15px solid var(--Color4);
    border-left: 0px;
    left: -14px;
  }
}

/* Sub Pages Creation Starts from Here */
/* HTML Assignment Page */

.cont {
  position: relative;
  z-index: 1;
  margin: 40px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.cont .card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  height: 500px;
  margin: 20px;
  border-top: 2px solid rgba(255, 255, 255, 0.6);
  border-left: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  backdrop-filter: blur(50px) saturate(180%);
}

.cont .card .content {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  opacity: 0.7;
  transition: 0.5s ease-in;
}

.cont .card .socials {
  position: absolute;
  bottom: 10px;
  display: flex;
}
.cont .card .socials li {
  list-style: none;
  margin: 0 15px;
  transform: translateY(40px);
  opacity: 0;
  transition: 0.5s;
  transition-delay: calc(0.1s * var(--i));
}

.cont .card:hover .socials li {
  opacity: 1;
  transform: translateY(0px);
}

.cont .card .socials li a {
  color: black;
  font-size: 36px;
}

.cont .card:hover .content {
  opacity: 1;
}

.cont .card .content .content-details > h3 {
  text-transform: capitalize;
  color: black;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 2px;
  text-align: center;
  margin: 15px 0 10px;
  line-height: 1.1em;
}

.cont .card .content .img {
  width: 100%;
  background-color: black;
  height: 375px;
  margin-top: -3%;
  border-radius: 10px;

  background-repeat: no-repeat;
  background-size: cover;
}

#CV {
  background-image: url(Assets/How-to-Create-an-Infographic-Resume-Thatll-Get-You-Hired-Piktochart.png);
  background-position: left;
}

#peri {
  background-image: url(Assets/Screenshot\ 2024-08-09\ peri.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: white;
}

/* Sub Pages Creation Starts from Here */
/* CSS Assignment Page */

#apple {
  width: 70%;
  height: 450px;
  margin-top: 0;
}
#apple-pic {
  width: 100%;
  background-image: url(Assets/apple-7446229_1280.webp);
  background-position: center;
  background-size: contain;
  background-color: black;
  height: 325px;
}
#abc {
  width: 70%;
  height: 450px;
  margin-top: 0px;
}
#abc-pic {
  width: 100%;
  background-image: url(Assets/1249502-1.jpg);
  background-position: center;
  background-size: contain;
  background-color: white;
  height: 325px;
}

#fb {
  width: 70%;
  height: 450px;
  margin-top: 0;
}

#fb-login {
  width: 100%;
  background-image: url(Assets/Screenshot-2024-03-14-at-12-04-38-GFG-FB-Clone.png);
  background-position: center;
  background-size: contain;
  background-color: white;
  height: 325px;
}

#colorlib {
  width: 70%;
  height: 450px;
  margin-top: 0;
}

#colorlib-pic {
  width: 100%;
  background-image: url(Assets/colorlib-logo-top-1.webp);
  background-position: center;
  background-size: contain;
  background-color: white;
  height: 325px;
}

#salt {
  width: 70%;
  height: 450px;
  margin-top: 0;
}

#salt-pic {
  width: 100%;
  background-image: url(Assets/d47575d1-42d9-43f7-84b2-f11adea5f8eb.webp);
  background-position: center;
  background-size: contain;
  background-color: white;
  height: 325px;
}

#UI {
  width: 70%;
  height: 450px;
  margin-top: 0;
}

#UI-Pic {
  width: 100%;
  background-image: url(Assets/6090f41c6a0e6399223537.jpg);
  background-position: center;
  background-size: contain;
  background-color: #3c40c6;
  height: 325px;
}

#gmail {
  width: 70%;
  height: 450px;
  margin-top: 0;
}

#gmail-pic {
  width: 100%;
  background-image: url(Assets/newgmaillogo.jpg);
  background-position: center;
  background-size: contain;
  background-color: white;
  height: 325px;
}

/* Sub Pages Creation Starts From Here */
/* JavaScript Page Creation */

#PDF {
  width: 60%;
  height: 450px;
  margin-top: 0;
}
#PDF-pic {
  width: 100%;
  background-image: url(Assets/what-does-pdf-stand-for.png);
  background-position: center;
  background-size: contain;
  background-color: black;
  height: 325px;
}

#chap-1 {
  width: 40%;
  height: 450px;
  margin-top: 0;
}
#chap-1-pic {
  width: 100%;
  background-image: url(Assets/Screenshot\ 2024-08-27\ 235515.png);
  background-position: center;
  background-size: contain;
  background-color: #5b9bd5;
  height: 325px;
}

#chap-2 {
  width: 40%;
  height: 450px;
  margin-top: 0;
}
#chap-2-pic {
  width: 100%;
  background-image: url(Assets/Screenshot\ 2024-08-28\ 000907\ strings.png);
  background-position: center;
  background-size: contain;
  background-color: #5b9bd5;
  height: 325px;
}
#chap-3 {
  width: 40%;
  height: 450px;
  margin-top: 0;
}
#chap-3-pic {
  width: 100%;
  background-image: url(Assets/Screenshot\ 2024-08-28\ 165032\ numbers.png);
  background-position: center;
  background-size: contain;
  background-color: #5b9bd5;
  height: 325px;
}
#chap-4 {
  width: 40%;
  height: 450px;
  margin-top: 0;
}
#chap-4-pic {
  width: 100%;
  background-image: url(Assets/Screenshot\ 2024-08-29\ 000817\ legal.png);
  background-position: center;
  background-size: contain;
  background-color: #5b9bd5;
  height: 325px;
}
#chap-5 {
  width: 40%;
  height: 450px;
  margin-top: 0;
}
#chap-5-pic {
  width: 100%;
  background-image: url(Assets/Screenshot\ 2024-09-01\ 183504\ maths\ expression.png);
  background-position: center;
  background-size: contain;
  background-color: #5b9bd5;
  height: 325px;
}
#chap-6-to-9 {
  width: 40%;
  height: 450px;
  margin-top: 0;
}
#chap-6-to-9-pic {
  width: 100%;
  background-image: url(Assets/Screenshot\ 2024-09-01\ 183504\ maths\ expression.png);
  background-position: center;
  background-size: contain;
  background-color: #5b9bd5;
  height: 325px;
}
#chap-9-to-11 {
  width: 40%;
  height: 450px;
  margin-top: 0;
}
#chap-9-to-11-pic {
  width: 100%;
  background-image: url(Assets/Screenshot\ 2024-09-10\ 011334\ user\ input.png);
  background-position: center;
  background-size: contain;
  background-color: #5b9bd5;
  height: 325px;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .cont .card .content .content-details h3 {
    font-size: 20px;
  }

  .cont .card {
    width: 90%;
  }

  #apple,
  #abc,
  #fb,
  #colorlib,
  #UI,
  #gmail,
  #salt,
  #PDF,
  #chap-1,
  #chap-2,
  #chap-3,
  #chap-4,
  #chap-5,
  #chap-6-to-9,
  #chap-9-to-11 {
    width: 90%;
  }

  .cont .card .socials li a {
    color: black;
    font-size: 30px;
  }
}
@media screen and (max-width: 425px) {
  .cont .card .content .content-details h3 {
    font-size: 16px;
  }
  .cont .card .socials li a {
    color: black;
    font-size: 24px;
  }
}
