* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

:root {
  --bgColor: #f5f5f7;
  --btnColor: #007afe;
  --h1FontSize: 4rem;
  --imagefontsize: 3rem;
  --imageh2FontSize: 1.5rem;
  --h2FontSize: 2rem;
}

body {
  background-color: var(--bgColor);
}

.main-container {
  width: 100%;
  height: 100vh;
  /* overflow-x: hidden; */
}

nav {
  top: 0;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(48, 48, 48);
  position: fixed;
  /* height: 7.5%; */
  align-items: center;
  z-index: 3;
}

nav > a {
  padding: 1%;
  color: var(--bgColor);
}

.hero {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.shop {
  margin-top: 15px;
  width: 100px;
  height: 50px;
  font-size: medium;
  border-radius: 25px;
  border-color: var(--btnColor);
  color: var(--btnColor);
}

.mac-air {
  /* position: relative; */
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* justify-content: left; */
  background-color: var(--bgColo);
  /* padding-bottom: -200px; */
}

.headings {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  margin-bottom: -250px;
  z-index: 2;
  margin-top: 100px;
  /* background-color: darkgreen; */
  /* top: 10%; */
  /* left: 40%; */
}

.mac-btns {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.mac {
  padding-top: 5px;
}

#Air {
  font-size: var(--h1FontSize);
  /* padding-top: 100px; */
}

#M3 {
  font-size: var(--h2FontSize);
  /* padding-bottom: 20px; */
}

.learn {
  width: 150px;
  border: 1px solid var(--btnColor);
  height: 45px;
  margin-right: 10px;
  border-radius: 20px;
  color: var(--bgColor);
  background-color: #007afe;
}

.buy {
  width: 100px;
  border: 1px solid var(--btnColor);
  height: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: var(--bgColor);
  color: var(--btnColor);
  &:hover {
  }
}

.iphone-pic {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  text-align: center;
}

.iphone-heading {
  /* position: absolute; */
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: -200px;
  padding-top: 100px;
  color: var(--bgColor);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.shop-iphone-btn {
  width: 125px;
  border: 1px solid var(--btnColor);
  height: 45px;
  border-radius: 20px;
  color: var(--btnColor);
  background-color: transparent;
}

.iphone-heading > h1 {
  font-size: var(--h1FontSize);
}

.iphone-heading > h3 {
  font-size: var(--h2FontSize);
}

.row1 {
  display: flex;
  width: 100%;
  gap: 10px 10px;
}

.pic1 {
  width: 49.5%;
  height: 600px;
  background-image: url(assets/promo_apple_watch_series_9_order__b3u85rm9zf6u_small\ 1.jpg);
  background-size: cover;
  background-position: center;
}

.pic2 {
  width: 49.5%;
  background-color: orange;
  height: 600px;
}
